
.part{
   border:1px solid;
    background-color:#9acfea;
    width: auto;
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer{

    margin-top: 60px;
    margin-bottom: 5px;
}
